<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Enums in Thymeleaf</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" >
</head>
<body class=""container>
<h2>Employee Adding Form:</h2>
    <form th:object="${employee}" th:action="@{/addEmployee}" method="get">
        <input type="hidden" th:field="*{id}">
        <div>
            <label>First Name:</label>
            <input type="text" th:field="*{firstName}">
        </div>
        <div>
            <label>Last Name:</label>
            <input type="text" th:field="*{lastName}">
        </div>
        <div>
            <label>Email:</label>
            <input type="text" th:field="*{email}">
        </div>

        <button>save</button>
    </form>
</body>
</html>